body {
    font-family: Arial, sans-serif;
    background: #84c1e2;
    padding: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    max-width: 900px;
    margin: auto;
    border-collapse: collapse;
    background: rgb(235, 220, 237);
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #e9eef3;
}

.pending {
    color: rgb(78, 76, 71);
    font-weight: bold;
}

.approved {
    color: green;
    font-weight: bold;
}

button {
    padding: 6px 10px;
    background: #0b57d0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background: gray;
    cursor: not-allowed;
}

#message {
    text-align: center;
    margin-top: 15px;
}